#mainPhoto
{
width: 30%;
height: auto;
}
.AboutSection
{
    background-color: rgb(38, 37, 43);
}
.About
{
    margin-top: 5px;
    margin-bottom: 30px;
    max-height: 500px;
}
.imgSet
{
    width: auto;
  height: 500px;
}
.CarouselText
{
    background-color: rgb(39, 38, 44);
}
.H2
{
    color: rgb(255, 255, 255);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .portfolioImg
  {
    width: 400px !important;
    height: 250px !important;
  }
  .plus
  {
    margin: 0 auto !important;
  }
  .portfolio-item-caption
   {
    background-color: rgba(187, 194, 194, 0.9) !important;
  }
  .close 
  {
    color: rgba(56, 59, 59, 0.9) !important;
  }